<head>
  <title>ZeroToHero</title>
</head>

<template name="layout">
  <body>

    <ul>{{> loginButtons}}</ul>
    <h1>Zero To Hero</h1>

    {{> yield}}

  </body>
</template>

<template name="landingPage">
  <div class="container">
    <h1>LANDING PAGE. TO BE CREATED.</h1>
  </div>
</template>

<template name="cityPage">
  <div id='dashboard'>
  </div>
  {{teamsPercentages.Vigilantes}}
</template>

<template name="adminPage">
  <h3>Inserir time</h3>
  <form>
    <label for="teamName">Nome</label>
    <input type="text" name="teamName">
    <label for="teamEmail">email</label>
    <input type="text" name="teamEmail">
    <label for="teamCity">Cidade</label>
    <input type="text" name="teamCity">
    <label for="teamPitch">Elevator Pitch</label>
    <input type="text" name="teamPitch">
    <button class="add-team">Create team</button>
  </form>
  
  <ul class="list-group">
    {{#each allTeams}}
      <li class="list-group-item">{{name}}</li>
    {{/each}}
  </ul>
</template>

<template name="teamPage">
  {{> tasks}}
</template>
